table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  padding: 8px;
  border: 1px solid #ffa2a2;
}
tr:nth-child(n+3):nth-child(6n+1) { background-color: #dcffd8; }
tr:nth-child(n+3):nth-child(6n+2) { background-color: #a4f1ff; }
tr:nth-child(n+3):nth-child(6n+3) { background-color: #ffb0e0; }
tr:nth-child(n+3):nth-child(6n+4) { background-color: #f8ffb8; }
tr:nth-child(n+3):nth-child(6n+5) { background-color: #aaf0fc; }
tr:nth-child(n+3):nth-child(6n)   { background-color: #ffeded; }
